@import "tailwindcss";

@theme {
	--color-primary: #4ade80;

	--font-josefin: "Josefin Sans", "sans-serif";
	--font-poppins: "Poppins", "sans-serif";
	--font-courier: "Courier Prime", "monospace";
	--font-raleway: "Raleway", "monospace";
	--font-quicksand: "Quicksand", "monospace";
	--font-oswald: "Oswald", "sans-serif";
	--font-recursive: "Recursive", "sans-serif";
	--animate-gradient: animate-gradient 10s linear infinite;
}

body {
	background: linear-gradient(to bottom right, #613f7d, #171529, #000000);
	font-family: var(--font-poppins);
	margin: 0;
	padding: 0 0 30px 0;
	min-height: 100dvh;
	color: white;
}

.headerColor {
	background: linear-gradient(270deg, #4ade80, #14b8a6, #0891b2);
	background-size: 400% 400%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.defaultGradient {
	background: linear-gradient(to top left, #6f4a8e, #221f3b, #050505);
}

@keyframes animate-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.transform-style {
	transform-style: preserve-3d;
}
.backface-hidden {
	backface-visibility: hidden;
}
.rotate-y-180 {
	transform: rotateY(180deg);
}

