@import "tailwindcss";

@theme {
	--font-josefin: "Josefin Sans", "sans-serif";
	--font-poppins: "Poppins", "sans-serif";
	--font-courier: "Courier Prime", "monospace";
	--font-raleway: "Raleway", "monospace";
	--font-quicksand: "Quicksand", "monospace";
	--color-avocado-100: oklch(0.99 0 0);
	--color-avocado-200: oklch(0.98 0.04 113.22);
	--color-avocado-300: oklch(0.94 0.11 115.03);
	--color-avocado-400: oklch(0.92 0.19 114.08);
	--color-avocado-500: oklch(0.84 0.18 117.33);
	--color-avocado-600: oklch(0.53 0.12 118.34);
	--ease-fluid: cubic-bezier(0.3, 0, 0, 1);
	--ease-snappy: cubic-bezier(0.2, 0, 0, 1);

	--animate-gradient: animate-gradient 10s linear infinite;
}

:root {
	--baseColor: #121212;
	--textColor: #f4f4f5;
	--navBarColor: #1a1a1a;
}

html,
body {
	background: linear-gradient(to top left, #6f4a8e, #221f3b, #050505);
	margin: 0;
	padding: 0;
	height: 100dvh;
	color: var(--textColor);
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
}

.bg-radial-custom {
	background: linear-gradient(to top left, #6f4a8e, #221f3b, #050505);
}

@keyframes animate-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo-gradient-bg {
	background: linear-gradient(to right, #0f172a, #334155);
	background-size: 400% 400%;
	animation: animate-gradient 8s ease-in-out infinite;
	display: inline-block;
	border-radius: 1.5rem;
}
