@import "tailwindcss";

@theme {
	--font-josefin: "Josefin Sans", "sans-serif";
	--font-poppins: "Poppins", "sans-serif";
	--font-courier: "Courier Prime", "monospace";
	--font-raleway: "Raleway", "monospace";
	--font-quicksand: "Quicksand", "monospace";

	--animate-gradient: animate-gradient 10s linear infinite;
}

:root {
}

html,
body {
	background: linear-gradient(to top left, #6f4a8e, #221f3b, #050505);
	margin: 0;
	padding: 0;
	height: 100dvh;
	color: white;
	
}

.bg-radial-custom {
	background: linear-gradient(to top left, #6f4a8e, #221f3b, #050505);
}

@keyframes animate-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.transform-style {
	transform-style: preserve-3d;
}
.backface-hidden {
	backface-visibility: hidden;
}
.rotate-y-180 {
	transform: rotateY(180deg);
}

.custom-bg{
	background-color: #98012f;
	opacity: 80;
}